<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
</head>
<body>
<div th:if="${codeSnippet == null}">
    <h1>Code not found</h1>
</div>
<div th:if="${codeSnippet != null}">
    <span id="load_date" th:text="${codeSnippet.getDate()}"></span>
    <span id="views_restriction" th:if="${codeSnippet.isViewRestriction()}"
          th:text="${codeSnippet.getViews()} "></span>
    <span id="time_restriction" th:if="${codeSnippet.isTimeRestriction()}"
          th:text="${codeSnippet.getTime()}"></span>
    <pre id="code_snippet"><code th:text="${codeSnippet.getCode()}"></code> </pre>
</div>

</body>
<script>hljs.initHighlightingOnLoad();</script>
</html>